img{
    max-width: 800px;
    height: auto;
    border: 1px solid rgb(0, 0, 0);
    
}
.container{
    background:rgba(255,255,255,0.5);

}
.topBar{
    display: inline-block;
}
.curentPage{
    max-width: 45px;
    height: auto;
}

.btn{
  margin: 25px;
  border-radius: 12px;
  border: 1px solid rgb(0, 0, 0);
  background-color: #f5f5f5;
  justify-content: center;
}