<div *ngIf="show" class="container">
    <div class="col text-center">
        <br>
        <h5 class="topBar">Page:&nbsp;</h5>
        <div class="topBar">
            <form>
                <mat-form-field class="full-width curentPage">
                    <input type="number" style="text-align: right" matInput (input)="onUpdate($event)" value="{{curentPage}}">
                </mat-form-field>
            </form>
        </div>
        
        <h5 class="topBar">/{{bookCopy.pageNumber}}</h5>
        <br>
    </div>
    <div class="row">

        <div class="col">
            <button type="button" class="btn" mat-button (click)="previousPage()">
                <i class="material-icons">keyboard_arrow_left</i>
            </button>
        </div>

        <div class="col">
            <img src="http://localhost:8080/files/{{bookCopy.path}}/{{curentPage}}">
            
        </div>
        <br>
        <div class="col">
            <button type="button" class="btn" mat-button (click)="nextPage()">
                <i class="material-icons">keyboard_arrow_right</i>
            </button>
        </div>

    </div>
</div>