.container{
    
    background:rgba(255,255,255,0.5);
}


.bookImg{
    border: 1px solid;
    max-width: 300px;
    max-height: 450px;
    border-radius: 8px;
}
ul {
    font-size: 12;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
li {
    font-size: 8;
    text-align: left;
}
.gap{
    padding: 0 6px 0 10px;
}
.btn-grid{
  border-radius: 12px;
  border: 1px solid;
  background-color: #f5f5f5;
}
.book-btn{
    margin: 0;
    display:inline;
}
