<div *ngIf="book!=null" class="container">
    <div class="row">
        <div class="col">
            <br>
            <div class="card">
                <div card="card-header">
                    <br>
                    <h3 class="card-title">{{book.name}}</h3>
                    <hr>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-5 border-right ">
                            <div *ngIf="book.links['images'].length!=0">
                                <img class="bookImg " src="{{book.links['images'][0].href}}">
                            </div>
                            <div *ngIf="book.links['images'].length==0">
                                <img class="bookImg" src="../../../assets/defaultBook.png">
                            </div>
                        </div>
                        <!--END class="col" IMAGE-->

                        <div class="col-md-5 col-md-offset-2">




                            <div class="row gap">
                                <div *ngIf="book.links['authors'].length!=0">
                                    <ul>
                                        <h5>Authors:</h5>
                                        <div *ngFor="let author of book.links['authors']">
                                            <div class="col gap">
                                                <li> <a>{{author.name}}  </a></li>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                                <div *ngIf="book.links['authors'].length==0">
                                    <h5>No authors</h5>
                                </div>


                            </div>
                            <!--END class="row" authors-->

                            <br>


                            <div class="row gap">
                                <div *ngIf="book.links['categories'].length!=0">
                                    <ul>
                                        <h5>Categories:</h5>
                                        <div *ngFor="let category of book.links['categories']">
                                            <div class="col gap">
                                                <li> <a>{{category.name}}  </a></li>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <!--END class="row" category-->

                            <br>




                            <div class="row bodyText gap">
                                <p><b>Description: </b> {{book.description}}</p>
                            </div>
                            <!--END class="row" description-->

                            <br>
                            <hr>
                            <div class="row bodyText gap">
                                <label><b>Published year: </b>{{book.publishedYear}}</label><br>

                            </div>
                            <!--END class="row" publishedYear-->


                            <div *ngIf="book.isbn!=''" class="row bodyText gap">

                                <label><b>ISBN: </b> {{book.isbn}}</label>
                            </div>
                            <!--END class="row" isbn-->


                            <div class="row bodyText gap">

                                <label><b>Number of pages: </b> {{book.pages}}</label>
                            </div>
                            <!--END class="row" pages-->



                            <!--LEFT SIDE-->
                        </div>
                        <!--END class="col" IN BODY-->
                    </div>
                    <!--END class="row" IN BODY-->
                    <hr>

                    <div class="row">
                        <div class="col">
                            <button class="btn btn-grid float-left" type="button" mat-button  (click)="back()"><i class="material-icons">keyboard_arrow_left</i>Back</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-grid float-right" type="button" mat-button (click)="rent()">Read this Book <i class="material-icons">
                                    menu_book
                                    </i></button>
                        </div>

                    </div>


                </div>
                <!--END class="card-body"-->
            </div>
            <!--END class="card" -->
            <br>
        </div>
        <!--END class="col"-->
    </div>
    <!--END class="row"-->
</div>
<!--END class="container"-->