.example-container {
    width: 100%;
    height: 1080px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: transparent;
  }

  .main{
    width: 2160px;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    /* align-items: center;
    justify-content: center; */
  }
  
  .example-sidenav {
    padding: 1px;
  }

  #alternate
{
  text-align: left;
}
.btnspace {
  width: 300px;
  margin: 30px;
  border-radius: 12px;
  border: 1px solid;
  background-color: #f5f5f5;
}

ul {
  font-size: 12;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
li {
  
  font-size: 10;
  text-align: left;
}
.categoryName{
  font: #141414;
}
.filter{
  padding-top: 20px;
  
}
.search{
  width: 300px;
}

