<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="showCategories">
        <div class="container">
            <br>
            <h3>Categories</h3>
            <hr>
            <div *ngFor='let category of categories'>
                <ul>
                    <li><a href="#" (click)="onClick(category.id)"><b class="categoryName">{{category.name}}</b></a>
                    </li>
                </ul>
            </div>
        </div>
        <!--END class="container"-->
    </mat-drawer>

    <div class="example-sidenav-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 " id="alternate">
                    <div class="row">
                        <div *ngIf="showCategories">
                            <button class="btn btnspace" type="button" mat-button
                                (click)="drawer.toggle();showCategories=!showCategories">
                                <i class="material-icons">keyboard_arrow_left</i>Hide Categories
                            </button>
                        </div>
                        <div *ngIf="!showCategories">
                            <button class="btn btnspace" type="button" mat-button
                                (click)="drawer.toggle();showCategories=!showCategories">
                                Show Categories <i class="material-icons">keyboard_arrow_right</i>
                            </button>
                        </div>
                        <!--END class="col-md-12"-->
                        <div class="filter">
                            <mat-form-field>
                                <input class="search" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                            </mat-form-field>&nbsp;
                        </div>
                    </div>


                    <div class="col-12">
                        <app-simple-book-list [books]="books"></app-simple-book-list>
                    </div>

                </div>
                <!--END class="row"-->

            </div>
        </div>
    </div>

</mat-drawer-container>