<header>
    <nav class="navbar shadow navbar-expand-lg navbar-dark bg-primary">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            ariacontrols="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>


        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['']"><img class="logo" src="../../../assets/logo.jpg"> <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item" *ngIf="isAdmin()">
                    <a class="nav-link" [routerLink]="['admin']"> <h3><b>Admin</b></h3></a>
                </li>
                
            </ul>

            <ul class="nav">
                
                <li *ngIf="isLoggedIn()" class="loginInline">
                    <br>
                        <h4 class="loginInline"> Bookmarks:&nbsp;{{user?.bookmark}} <i class="material-icons">menu_book</i>&nbsp;&nbsp;Logged in as &nbsp;</h4> <a class="loginInline" [routerLink]="['/profile']"><h4><b>{{user?.name}}</b></h4></a>&nbsp;&nbsp;&nbsp;
                </li>

                <li *ngIf="isLoggedIn()" class="loginInline">
                    <br>
                    <button class="btn btn-primary logout " (click)="onLogout()" data-toggle="tooltip"
                        data-placement="top"><h4>Logout</h4></button>
                </li>
            </ul>

        </div>
        <!--END class="collapse navbar-collapse"-->
    </nav>
</header>