a {
    color: seashell;
    text-decoration: none;
}
header{
    position: sticky;
    
}
.logo{
    height: 47px;
    width: 60px;
}
h3{
    color: #fae290;
    text-transform: capitalize
}
.loginInline{
    display: inline-block;
  }
  