<h1 mat-dialog-title>Add Author</h1>
<div mat-dialog-content>
    <hr>

    <form [formGroup]="insertAuthor">
        <div class="form-group">
            <label for="email">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" />
        </div>
        <div class="form-group">
            <label for="email">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" />
        </div>
    </form>

    <hr>
</div>
<div mat-dialog-actions>
    <button mat-button class="btnNext" (click)="onNoClick()">Close</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-button class="btnNext" (click)="onClick()">Add Author</button>
</div>