<h1 mat-dialog-title>Add Bookmark</h1>
<div mat-dialog-content>
    <hr>
    <form [formGroup]="insertBookmark">
            <div class="form-group">
                <label for="email">Bookmark</label>
                <input type="number" formControlName="insertBookmark" class="form-control" />
            </div>
        </form>
    <hr>
</div>
<div mat-dialog-actions>
    <button mat-button class="btnNext" (click)="onNoClick()">Close</button> 
    <button mat-button class="btnNext" (click)="onClick()" >Add</button>
</div>