<h1 mat-dialog-title>Add Category</h1>
<div mat-dialog-content>
    <hr>
    <form [formGroup]="insertCategory">
        <div class="form-group">
            <label for="email">Name</label>
            <input type="text" formControlName="name" class="form-control" />
        </div>
    </form>
    <hr>
</div>
<div mat-dialog-actions>
    <button mat-button class="btnNext" (click)="onNoClick()">Close</button>
    <button mat-button class="btnNext" (click)="onClick()">Add</button>
</div>