
    <div class="row">

        <div *ngFor="let book of books">


            <div class="col">



                <div class="card divStyle">
                    <div class="card-header d-flex align-items-center justify-content-center">
                        <h4><a [routerLink]="['books/',book.id]">{{book.name}}</a></h4>
                    </div>


                    <div class="card-body divStyle">
                        <div class="row">
                            <div  class="gap" *ngIf="book.links['authors'].length!=0">
                                <ul>
                                    <h5 class="card-title">Authors:</h5>
                                    <div *ngFor="let author of book.links['authors']">
                                        <li> <a href="{{author.href}}">{{author.name}}</a></li>
                                    </div>
                                </ul>
                            </div>
                            <div *ngIf="book.links['authors'].length==0">
                                <ul>
                                    <li>No authors</li>
                                </ul>
                            </div>

                        </div>
                        <hr>
                        <div class="row justify-content-center align-self-end">
                            <div *ngIf="book.links['images'].length!=0">
                                
                                <img class="card-img-top bookImage" src="{{book.links['images'][0].href}}">

                            </div>

                            <div *ngIf="book.links['images'].length==0">
                                <img class="card-img-top bookImage" src="../../../assets/defaultBook.png">
                            </div>
                        </div>
                    </div>
                    <!--END class="card-body"-->

                </div>
                <!--END class="card divStyle"-->

            </div>
            <br>
            <!--END class="col"-->
        </div>
        <!--END *ngFor="let book of books"-->

    </div>
    <!--END class="row"-->

<!--END class="container"-->