ul {
    font-size: 12;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
li {
    font-size: 10;
    text-align: left;
}
.card{
    font-size:fit-height-precise;
    width: 300px;
    height: 500px;
    border: 1px solid;
    background-color: #f5f5f5;
    border-radius: 12px;
}
.cardImage{
    border-radius: 15px;
    height: 180px; 
    width: 95%; 
    display: block;
}
.bodyText{
    font-size: 10;
    text-align: left;
}
.bookImage{
    max-width: 190px;
    max-height: 240px;
    border-radius: 8px;
    border: 1px solid;
  }
  .gap{
    padding: 0 5px 0 10px;
}
.card-header{
    display: flex;             
    height: 100%;
    align-items: center;
    justify-content: center;

}
h4{
    flex: 1;
  }