@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-toastr/toastr';

body {
    background-image: url("./assets/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat; 
    background-attachment: fixed;
  }

