
<div class="container">
    <div class="row justify-content-center">
        <div class="card">
            <h4 class="card-header">Register to your account</h4>
            <div class="card-body">
                <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="firstName">First name</label>
                        <input type="text" id="firstName" formControlName="firstName" class="form-control" />
                        <span
                            *ngIf="!registrationForm.get('firstName').valid && registrationForm.get('firstName').touched"
                            class="help-block">
                            Please enter your first name.
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last name</label>
                        <input type="text" id="lastName" formControlName="lastName" class="form-control" />
                        <span
                            *ngIf="!registrationForm.get('lastName').valid && registrationForm.get('lastName').touched"
                            class="help-block">
                            Please enter your last name.
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" formControlName="email" class="form-control" />
                        <span *ngIf="!registrationForm.get('email').valid && registrationForm.get('email').touched"
                            class="help-block">
                            This email address is invalid. Please try again.
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" formControlName="password" class="form-control" />
                        <span
                            *ngIf="!registrationForm.get('password').valid && registrationForm.get('password').touched"
                            class="help-block">
                            Please enter password. Password must be at least 6 characters.
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="passwordRepeat">Repeat your password</label>
                        <input type="password" id="passwordRepeat" formControlName="passwordRepeat"
                            class="form-control" />
                        <span
                            *ngIf="!registrationForm.get('passwordRepeat').valid && registrationForm.get('passwordRepeat').touched"
                            class="help-block">
                            Please enter password. Password must be at least 6 characters.
                        </span>
                    </div>

                    <button class="btn btn-primary" type="submit" [disabled]="!registrationForm.valid"
                        data-toggle="tooltip" data-placement="top" title="Sign up">Sign Up</button>
                </form><br>
                <p>Already have an account?&nbsp;<span class="badge badge-primary login" data-toggle="tooltip"
                        data-placement="top" title="Login" (click)="login()">Log in</span>
            </div>
        </div>
    </div>
</div>
