<div *ngIf="show" class="container">
    <div class="row">
        <div class="col">



            <br>
            <!--CARD-->

            <div class="card">
                <div class="card-title">
                    <br>
                    <h4 class="float-left ">&nbsp;&nbsp;{{user.name}}</h4>

                </div>
                <hr>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-5 border-right ">
                            <div class="col">
                                <button mat-raised-button class="btnNext" (click)="openBookmarkDialog()" >add Bookmarks</button>
                            </div>
                        </div>

                        <div class="col-md-5 col-md-offset-2">


                            <div class="row gap">
                                <label>
                                    <h5> <b>Continue reading: </b></h5>
                                </label>
                                <ul>
                                    <div *ngFor="let copy of simpleBookCopiesList">

                                        <li>

                                                <h5 class="book-btn">{{copy.links['books'].name}} &nbsp;
                                                    <button class="btn btn-grid" mat-button (click)="read(copy.id)"type="button">
                                                        <i class="material-icons">menu_book</i>
                                                    </button>
                                                </h5>

                                        </li>
                                    </div>
                                </ul>
                                <!--END *ngFor="let copy from bookCopiesList"-->
                            </div>



                            <br>
                        </div>


                    </div>




                </div>



            </div>
            <!--END CARD-->
            <br>
        </div>
        <!--END class="col" -->

    </div>
    <!--END class="row"-->
</div>
<!--END class="container"-->