.container{
    background:rgba(255,255,255,0.5);

}
.gap{
    padding: 0 5px 0 10px;
}
ul {
    font-size: 12;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
li {
    font-size: 10;
    text-align: left;
}
.btn-grid{
    border-radius: 12px;
    border: 1px solid;
    background-color: #f5f5f5;
  }