
<br>
<br>
<div class="container ">
    <br> <br>
    <div class="row justify-content-center">

        <div class="card">
            <h4 class="card-header">Login to your account</h4>
            <div class="card-body">

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" formControlName="email" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />

                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <button [disabled]="!loginForm.valid" class="btn btn-primary" data-toggle="tooltip"
                        data-placement="top" title="Login">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                </form>
                <br>
                <div class="row justify-content-center">
                    Don't have account?&nbsp;  <button class="badge badge-primary registration" (click)="register()"
                        data-toggle="tooltip" data-placement="top" title="Register"> Register</button>
                </div>

            </div>
            <!--END class="card-body"-->
        </div>
        <!--END class="card"-->

        



    </div>
    <!--END class="row justify-content-center"-->
</div>
<!--END class="container -->



<!-- </div>
    <br>

<br> -->