<div class="container ">
    <div class="row justify-content-center">
        <h3>Insert Book</h3>
    </div>
    <div class="row justify-content-center">

        <div class="stepper">
            <mat-horizontal-stepper labelPosition="bottom" #stepper>

                <mat-step [stepControl]="bookInfo">
                    <form [formGroup]="bookInfo">
                        <ng-template matStepLabel>Book info</ng-template>
                        <div class="row">
                            <div class="col bookInfoLeft">

                                <div class="row">
                                    <mat-form-field>
                                        <input matInput placeholder="Name" formControlName="bookName" required>
                                    </mat-form-field>
                                </div>

                                <div class="row">
                                    <mat-form-field>
                                        <input matInput placeholder="ISBN" formControlName="bookISBN" required>
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field>
                                        <input matInput type="number" placeholder="Published Year"
                                            formControlName="bookPublishedYear" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--END class="col"-->
                            <div class="col">
                                <div class="row">
                                    <mat-form-field>
                                        <textarea matInput rows="10" cols="100" placeholder="Description"
                                            formControlName="bookDescription"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--END class="col"-->
                        </div>

                        <br>
                        <div>
                            <button class="btnNext" mat-button matStepperNext>Next<i
                                    class="material-icons">keyboard_arrow_right</i></button>
                        </div>
                    </form>
                </mat-step>


                <mat-step [stepControl]="authorForm" optional>

                    <mat-form-field>
                        <input matInput (keyup)="applyAuthorsFilter($event.target.value)" placeholder="Search">
                 
                    </mat-form-field>&nbsp;
                    <button mat-raised-button class="btnNext" (click)="openAuthorDialog()" >add Author</button>

                    <ng-template matStepLabel>Pick Author</ng-template>
                    <table mat-table [dataSource]="dataSourceAuthors" class="mat-elevation-z8">

                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggleAuthors() : null"
                                    [checked]="selectionAuthors.hasValue() && isAllSelectedAuthors()"
                                    [indeterminate]="selectionAuthors.hasValue() && !isAllSelectedAuthors()"
                                    [aria-label]="checkboxLabelAuthors()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selectionAuthors.toggle(row) : null"
                                    [checked]="selectionAuthors.isSelected(row)"
                                    [aria-label]="checkboxLabelAuthors(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <!-- First Name Column -->
                        <ng-container matColumnDef="firstName">
                            <th mat-header-cell *matHeaderCellDef> First Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                        </ng-container>

                        <!-- Last Name Column -->
                        <ng-container matColumnDef="lastName">
                            <th mat-header-cell *matHeaderCellDef> Last Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsAuthors"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsAuthors;"
                            (click)="selection.toggle(row)">
                        </tr>

                    </table>
                    <br>

                    <div>
                        <button class="btnNext" mat-button matStepperPrevious><i
                                class="material-icons">keyboard_arrow_left</i>Back</button>&nbsp;
                        <button class="btnNext" mat-button matStepperNext>Next<i
                                class="material-icons">keyboard_arrow_right</i></button>
                    </div>

                </mat-step>

                <mat-step [stepControl]="categoryForm">
                    <ng-template matStepLabel>Pick Category</ng-template>

                    <mat-form-field>
                        <input matInput (keyup)="applyCategoryFilter($event.target.value)" placeholder="Search">
                    </mat-form-field>&nbsp;
                    <button  mat-raised-button (click)="openCategoryDialog()" class="btnNext">add Category</button>

                    <ng-template matStepLabel>Pick Author</ng-template>
                    <table mat-table [dataSource]="dataSourceCategory" class="mat-elevation-z8">

                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggleCategory() : null"
                                    [checked]="selectionCategory.hasValue() && isAllSelectedCategory()"
                                    [indeterminate]="selectionCategory.hasValue() && !isAllSelectedCategory()"
                                    [aria-label]="checkboxLabelCategory()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selectionCategory.toggle(row) : null"
                                    [checked]="selectionCategory.isSelected(row)"
                                    [aria-label]="checkboxLabelCategory(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <!--  Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsCategory"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsCategory;"
                            (click)="selection.toggle(row)">
                        </tr>

                    </table>
                    <br>
                    <div>
                        <button class="btnNext" mat-button matStepperPrevious><i
                                class="material-icons">keyboard_arrow_left</i>Back</button>&nbsp;
                        <button class="btnNext" mat-button matStepperNext>Next<i
                                class="material-icons">keyboard_arrow_right</i></button>
                    </div>
                </mat-step>

                <mat-step [stepControl]="publisherForm" optional>
                    <ng-template matStepLabel>Pick Publisher</ng-template>

                    <mat-form-field>
                        <input matInput (keyup)="applyPublisherFilter($event.target.value)" placeholder="Search">
                    </mat-form-field>&nbsp;
                    <button mat-raised-button  class="btnNext" (click)="openPublisherDialog()">add Publisher</button>

                    <table mat-table [dataSource]="dataSourcePublisher" class="mat-elevation-z8">

                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <!-- <mat-checkbox (change)="$event ? masterTogglePublisher() : null"
                                        [checked]="selectionPublisher.hasValue() && isAllSelectedPublisher()"
                                        [indeterminate]="selectionPublisher.hasValue() && !isAllSelectedPublisher()"
                                        [aria-label]="checkboxLabelPublisher()">
                                    </mat-checkbox> -->
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selectionPublisher.toggle(row) : null"
                                    [checked]="selectionPublisher.isSelected(row)"
                                    [aria-label]="checkboxLabelPublisher(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <!--  Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsPublisher"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsPublisher;"
                            (click)="selection.toggle(row)">
                        </tr>

                    </table>
                    <br>
                    <div>
                        <button class="btnNext" mat-button matStepperPrevious><i
                                class="material-icons">keyboard_arrow_left</i>Back</button>&nbsp;
                        <button class="btnNext" mat-button matStepperNext>Next<i
                                class="material-icons">keyboard_arrow_right</i></button>
                    </div>
                </mat-step>




                <mat-step [stepControl]="pdfForm">
                    <ng-template matStepLabel>Upoload PDF</ng-template>

                    <ngx-dropzone (change)="onSelect($event)" [multiple]="false">
                        <ngx-dropzone-label>Drop PDF here</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                    </ngx-dropzone>
                    <br>


                    <div>
                        <button class="btnNext" mat-button matStepperPrevious><i
                                class="material-icons">keyboard_arrow_left</i>Back</button>&nbsp;
                        <button class="btnNext" mat-button matStepperNext>Next<i
                                class="material-icons">keyboard_arrow_right</i></button>
                    </div>
                </mat-step>



                <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    You are now done.
                    
                    <div>
                        <button class="btnNext" mat-button matStepperPrevious><i
                                class="material-icons">keyboard_arrow_left</i>Back</button> &nbsp;
                        <button class="btnNext" mat-button (click)="onDone()">Upload book</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>

        <!--END class="stepper"-->
    </div>
    <!--END class="row"-->
    <br>
</div>
<!--END class="container"-->