.stepper{
    width: 1080px;
}
textarea{
    border: 1px solid;

}

.bookInfoLeft{
    padding-left: 10%;
}
.container{
    background:rgba(255,255,255,0.5);
}
.btnNext{
  border-radius: 12px;
  border: 1px solid;
  background-color: #f5f5f5;
}
table {
    width: 60%;
  }
